<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>HTTP Headers</title>
    <style>
      table {
        width: 80%;
        margin: 20px auto;
        border-collapse: collapse;
      }
      th,
      td {
        padding: 8px 12px;
        border: 1px solid #ddd;
      }
      th {
        background-color: #f4f4f4;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center">HTTP Headers</h1>
    <table>
      <thead>
        <tr>
          <th>Header</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for header, value in headers.items() %}
        <tr>
          <td>{{ header }}</td>
          <td>{{ value }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
